* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background: white;
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

input[type="text"] {
    background-color: #e2e8f0;
    border: none;
    border-radius: 4px;
    color: #718096;
    font-size: 14px;
    font-weight: 300;
    padding: 0 20px;
    height: 48px;
    width: 20%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-weight: bold;
    padding: 0 10px;
    color: #718096;
    text-decoration: none;
}

nav a:hover {
    color: #667eea;
}