* {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

header {
    background: white;
}

header img {
    height: 2.2rem;
    width: auto;
}

input[type="text"] {
    background-color: #e2e8f0;
    border: none;
    border-radius: 0.25rem;
    color: #718096;
    font-size: 0.95rem;
    font-weight: 300;
    padding: 0 1.25rem 0 2.8rem;
    height: 2.6rem;
    width: 20%;
    background-image: url('../img/lupa.svg');
    background-position: 1rem;
    background-repeat: no-repeat;
    background-size: 1rem;
}

nav a {
    font-weight: bold;
    padding: 0 0.6rem;
    color: #718096;
    text-decoration: none;
}

nav a:hover {
    color: #667eea;
}

.intro {
    padding: 2rem 2rem 3.5rem 2rem;
    background: white;
}

.intro img {
    height: 19rem;
    border-radius: 3rem;
    border: 0.2rem solid #718096;
}

.intro h2 {
    font-size: 2.3rem;
    line-height: 1.6;
}

.intro h2 span {
    color: #667eea;
}

.intro h3 {
    color: #718096;
    padding: 1.8rem 0 1.9rem;
}

button {
    border-radius: 1.5rem;
    padding: 0.7rem 2.2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.primary {
    background-color: #667eea;
    border: 0.2rem solid #667eea;
    color: white;
    outline: none;
}

.primary:hover {
    background-color: #718096;
    border: 0.2rem solid #718096;
}

.secondary {
    margin-left: 0.7rem;
    border: 0.2rem solid #718096;
    color: #718096;
}

.secondary:hover {
    border: 0.2rem solid #667eea;
    outline: none;
}

main {
    background: #f8f8f8;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 2rem auto;
    width: 100%;
}

.align-top {
    align-items: flex-start;
}

section h3 {
    border-left: 0.3rem solid #718096;
    padding: 0.2rem 0 0.2rem 1.4rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

article {
    border-radius: 0.5rem;
    background: white;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
    display: flex;
    max-width: 44.8rem;
    margin-bottom: 1rem;
}

article .img {
    border-radius: 0.3rem;
    background-image: url('https://picsum.photos/212/200');
    background-size: cover;
    height: 200px;
    width: 80%;
}

article div:last-child {
    padding: 2rem;
}

p.tag {
    font-size: 0.7rem;
    font-weight: 600;
    background: #e2e8f0;
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.4rem 0.7rem;
}

article div h4 {
    font-size: 1.2rem;
    margin: 1.3rem 0 1rem 0;
}

article div p:last-child {
    font-size: 0.8rem;
    color: #718096;
    line-height: 1.7;
}

aside div {
    background: white;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
    width: 100%;
    display: inline-block;
}

aside div p {
    margin-bottom: 0.5rem;
}

aside div p:last-child {
    margin-bottom: 0;
} 

aside h3 {
    padding: 0.2rem 0 0.2rem 1.4rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

footer {
    background: white;
}

footer > div a {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0 0.6rem 0.6rem;
    text-decoration: none;
    color: #718096;
}

footer > div a:hover {
    color: #667eea;
}

footer div p:first-child {
    font-weight: 600;
    padding-bottom: 0.6rem;
}

footer :first-child p:nth-of-type(2) {
    padding: 0.5rem 0 1rem 0;
}

footer :first-child p:nth-of-type(3) {
    font-weight: 600;
}

footer div a:last-child {
    padding-bottom: 0rem;
} 

footer div:nth-last-child(1) a {
    display: flex;
    flex-direction: row;
}

footer div:nth-last-child(1) img {
    width: 1rem;
    height: 1rem;
    padding-top: 0.1rem;
    padding-right: 0.3rem;
}